/*admin_main*/
.task_list{
    clear: both;
}
.content_list .taskName {
    font-size: 26px;
    color: black;
    font-weight: 650;
}
.content_list .applicant{
    font-size: 20px;
    font-weight: 600;
    color: #6EB9E8;
    float: right;
    transform: translate(0%, -150%);
}

.content_list .startDate{
    font-size: 20px;
    font-weight: 600;
    color: black;
    float: right;
    transform: translate(0%, -150%);
}

.content_list .doneDate{
    font-size: 20px;
    font-weight: 600;
    color: black;
    float: right;
    transform: translate(0%, -150%);
}

.content_list .aboutTask{
    font-size: 18px;
    color: black;
    margin: 13px 0px 0px 5px;
}

.content_list .fileName{
    font-size: 18px;
    color: black;
    margin: 13px 0px 0px 5px;
}

/*admin_taskInfo*/
.task_howToPass, .originDataType {
    margin-top: 20px;
    clear: both;
}
.originDataType .wrapper_title{
    float: left;
}
.originDataType .addDataType{
    float: right;
    color: #A7A7A7;
    font-weight: 600;
}
.task_statistics{
    clear: both;
}
.datatype_list{
    clear: both;
    padding-top: 10px;
}
.datatype_list .datatypeID{
    float: left;
    transform: translate(-35%, 90%);
}
.value_list li{
    text-align: center;
    border: 0.3px solid #707070;
    float: left;
    padding: 10px 20px;
    background-color: #F6F6F6;
}
.value_list li .originName{
    color :#6EB9E8;
    font-size: 14px;
    font-weight: 700;
}
.value_list li .type{
    color :#6EB9E8;
    font-size: 14px;
    font-weight: 700;
}
.originDataTypeRequest{
    clear: both;
    margin-top: 80px;
}
.originDataTypeRequest ul{
    transform: translate(0%, -25%);
}
#yes{color:#6EB9E8}
#no{color:#E86E77}

.applicantList{
    padding-top: 10px;
}
.applicantList .lightgray_wrapper{
    width : 500px;
}
.applicantList .lightgray_wrapper_inline_display{
    width : 500px;
    display:inline-block;
}

.applicantList .lightgray_wrapper_file{
    width : 500px;
}

.applicantList .lightgray_wrapper_file_inline_display{
    width : 500px;
    display:inline-block;
    color : #6EB9E8;
}

.applicantList .name{
    position: absolute;
    left: 150px;
    font-weight: 600;
}
.applicantList .score{
    position: absolute;
    left: 250px;
    font-weight: 600;
}
.applicants li{
    font-weight: 600;
}
.applicants li .sequenceNum{
    float:left;
    transform: translate(-30px, 100%);
}
.applicants li .personal_name{
    float: left;
    transform: translate(20%, 100%);
}
.applicants li .personal_score{
    float: left;
    transform: translate(390%, 100%);
}
.applicants #yes{
    margin-left: 170px;
}

.taskStatistic{
    margin-top: 20px;
}
.taskStatistic .submitFiles,
.taskStatistic .passFiles,
.taskStatistic .passTuples{
    font-weight: 600;
    line-height: 150%;
}
.taskStatistic .passFiles{
    float : left;
}
.taskStatistic .passTuples{
    transform: translate(5%, 0%);
    margin-bottom: 10px;
}
.taskStatistic a{
    color: #56baed;
    font-weight: 500;
}

.task-participate{
    clear:both;
    display:inline-block;zoom:1;.display:inline;
    text-align: center;
    width: auto;
    font: normal normal 600 25px Apple SD Gothic Neo;
    letter-spacing: 0px;
    color: #FFFAFA;
    border : none;
    background: #6EB9E8 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 5px;
    height: 50px;
    margin-top: 53px;
    margin-left : auto;
    margin-right: auto;
}



/*table schema add*/
.tableSchema_add input[type="text"]{
    width: 400px;
}
.tableSchema_add button[type="submit"]{
    width: 100px;
    text-align: center;
    padding : 10px 20px;
    margin: 0px 20px;
}
/*user list*/
.userTable{
    position: relative;
    top:140px;
    width: 1000px;
}
.userTable .MTableToolbar-root-5{
    min-height: 0px;
    height: 0px;
}

.userList input[type="text"]{
    all: unset;
    padding: 10px 10px;
}
.userList .dropdown{
    transform: translate(-50%,28%);
    border-radius: 20px;
}
.userList a{
    color: #56baed;
    font-weight: 500;
}

/*presenter detail*/
.presenterDetail .taskStatistic{
    margin-top: 0px;
}
.presenterDetail .passFiles{
    margin-bottom: 20px;
}

/*estimator detail*/
.estimatorDetail .taskStatistic{
    margin-top: 0px;
}
.estimatorDetail .passFiles{
    margin-bottom: 20px;
}


/*rater*/
.fileDownload{
    margin-left: 200px;
    color: #707070;
    font-size: 17px;
}

.contentName{
    margin-left: 170px;
    color: #707070;
    font-size: 17px;
}

/*rater_task add*/
.rater_taskDetail .passNonpass .wrapper_title{
    margin-top: 20px;
    float: left;
}
.rater_taskDetail .passNonpass .dropdown{
    transform: translate(2%,10%);
}

.rater_taskDetail .task_info input[type="text"],
.rater_taskDetail .task_howToPass input[type="text"]{
    width : 820px;
    border-radius: 20px;
    padding: 20px 30px;
    margin: 5px;
}
.rater_taskDetail .task_name .wrapper_title{
    float: left;
    line-height: 60px;
}
.rater_taskDetail .task_name input[type="text"]{
    width : 730px;
    height: 30px;
    border-radius: 20px;
    padding: 10px 20px;
    margin: 0px 0px 0px 20px;
}

.rater_taskDetail .score input[type="text"]{
    width : 730px;
    height: 30px;
    border-radius: 20px;
    padding: 10px 20px;
    margin: 0px 0px 0px 20px;
}

.rater_taskDetail .passed input[type="text"]{
    width : 730px;
    height: 30px;
    border-radius: 20px;
    padding: 10px 20px;
    margin: 0px 0px 0px 20px;
}

.rater_taskDetail .task_info{
    margin-top: 20px;
}

.rater_taskDetail .dataTable_name{
    margin-top: 20px;
}

.rater_taskDetail .dataTable_name .wrapper_title{
    float: left;
    line-height: 60px;
}


.rater_taskDetail .dataTable_name input[type="text"]{
    width : 620px;
    height: 30px;
    border-radius: 20px;
    padding: 10px 20px;
    margin: 0px 0px 0px 20px;
}

.rater_taskDetail .dataTableSchema {
    margin-top: 20px;
    clear: both;
}
.rater_taskDetail .dataTableSchema .wrapper_title{
    float: left;
}
.rater_taskDetail .dataTableSchema .addDataType{
    float: right;
    color: #A7A7A7;
    font-weight: 600;
}
.rater_taskDetail .dataTableSchema_list{
    clear: both;
    padding: 10px 0px 0px 20px;
}
.rater_taskDetail .dataTableSchema_list li{
    font-weight: 500;
    text-align: center;
    border: 0.3px solid #707070;
    float: left;
    padding: 10px 20px;
    background-color: #F6F6F6;
}

.rater_taskDetail .taskData_table_name input[type="text"]{
    width : 730px;
    height: 30px;
    border-radius: 20px;
    padding: 10px 20px;
    margin: 0px 0px 0px 20px;
}


/*rater_file add*/
.rater_fileDetail .passNonpass .wrapper_title{
    margin-top: 20px;
    float: left;
}
.rater_fileDetail .passNonpass .dropdown{
    transform: translate(2%,10%);
}

.rater_fileDetail .task_info input[type="text"],
.rater_fileDetail .task_howToPass input[type="text"]{
    width : 820px;
    border-radius: 20px;
    padding: 20px 30px;
    margin: 5px;
}
.rater_fileDetail .task_name .wrapper_title{
    float: left;
    line-height: 60px;
}
.rater_fileDetail .task_name input[type="text"]{
    width : 730px;
    height: 30px;
    border-radius: 20px;
    padding: 10px 20px;
    margin: 0px 0px 0px 20px;
}

.rater_fileDetail .score input[type="text"]{
    width : 730px;
    height: 30px;
    border-radius: 20px;
    padding: 10px 20px;
    margin: 0px 0px 0px 20px;
}

.rater_fileDetail .passed input[type="text"]{
    width : 730px;
    height: 30px;
    border-radius: 20px;
    padding: 10px 20px;
    margin: 0px 0px 0px 20px;
}

.rater_fileDetail .taskData_table_name input[type="text"]{
    width : 730px;
    height: 30px;
    border-radius: 20px;
    padding: 10px 20px;
    margin: 0px 0px 0px 20px;
}

.rater_fileDetail .task_info{
    margin-top: 20px;
}

.rater_fileDetail .dataTable_name input[type="text"]{
    width : 620px;
    height: 30px;
    border-radius: 20px;
    padding: 10px 20px;
    margin: 0px 0px 0px 20px;
}

.rater_fileDetail .originDataType {
    margin-top: 40px;
    clear: both;
}

.rater_fileDetail .dataTableSchema {
    margin-top: 40px;
    clear: both;
}

.rater_fileDetail .dataTableSchema .wrapper_title{
    float: left;
}
.rater_fileDetail .dataTableSchema .addDataType{
    float: right;
    color: #A7A7A7;
    font-weight: 600;
}
.rater_fileDetail .dataTableSchema_list{
    clear: both;
    padding: 10px 0px 0px 20px;
}
.rater_fileDetail .dataTableSchema_list li{
    font-weight: 500;
    text-align: center;
    border: 0.3px solid #707070;
    float: left;
    padding: 10px 20px;
    background-color: #F6F6F6;
}

.rater_fileDetail .minUpload .wrapper_title{
    margin-top: 20px;
    float: left;
}
.rater_fileDetail .passNonpass .dropdown{
    margin-top: 0px;
    float: left;
}

.rater_fileDetail .passNonpass .wrapper_title{
    margin-top: 20px;
    float: left;
}
.rater_fileDetail .minUpload .dropdown{
    transform: translate(2%,10%);
    width : 120px;
    height: 30px;
    border-radius: 20px;
    padding: 10px 20px;
    margin: 0px 0px 0px 20px;
}