.App {
  background-color: #56baed;
  height: auto;
}

body {
  background-color: #56baed;
  font-family: "Poppins", sans-serif;
  height: 100vh;
}

a {
  color: #92badd;
  display:inline-block;
  text-decoration: none;
  font-weight: 400;
}

h2 {
  text-align: center;
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  display:inline-block;
  margin: 40px 8px 10px 8px;
  color: #cccccc;
}

/* STRUCTURE */
ul{
   list-style:none;
}

.fixed-header{
  z-index: 1;
  width: 100%;
  position: fixed;
  background: #fff;
  padding : 10px 0;
  color: black;
  top: 0;
  left: 0;
}
.container{
  width: 80%;
  margin: 0 auto;
}
.container nav a{
  font-size: 17px;
  font-weight: 530;
}

.n{
  color: black;
  padding: 7px 25px;
  display: inline-block;
}

.nr{
  color: black;
  padding: 7px 25px;
  display: inline-block;
  float: right;
}

.wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  padding: 20px;
  height: auto;
}
.wrapper_title{
  font-size: 20px;
  font-weight: 550;
  clear: both;
}

.lightgray_wrapper{
  border: 1px solid #F6F6F6;
  background-color: #F6F6F6;
  border-radius: 20px;
  padding: 20px 30px;
  margin: 5px;
}

.lightgray_wrapper_file{
  border: 1px solid #F6F6F6;
  background-color: #F6F6F6;
  border-radius: 20px;
  padding: 20px 30px;
  margin: 5px;
  color : #39ace7;
}

.small_lightgray_wrapper{
  text-align: center;
  border: 1px solid #F6F6F6;
  background-color: #F6F6F6;
  border-radius: 20px;
  padding: 15px 20px;
  margin: 5px;
  width: 150px;
  color: #707070;
  font-weight: 650;
}

.Title{
  position: relative;
  top: 90px;
  width: 1000px;
  left: 2%;
  color: #fff;
  font-size: 30px;
  font-weight: bold;
}
.right_side_small{
  position: relative;
  top: 90px;
  color: #fff;
  font-size: 20px;
  font-weight: 800;
  margin: 0px 0px 20px 830px;
}
.right_side_search{
  position: relative;
  top:70px;
  color: #fff;
  font-size: 20px;
  font-weight: 800;
  margin: 0px 0px 20px 710px;
}

.formContent {
  top: 90px;
  border-radius: 10px 10px 10px 10px;
  background: #fff;
  padding: 50px;
  width: 1000px;
  min-height: 500px;
  height: auto;
  position: relative;
  box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
  margin-bottom: 40px;
}

.formContent_signin {
  top: 270px;
  border-radius: 10px 10px 10px 10px;
  background: #fff;
  padding: 30px;
  width: 90%;
  max-width: 450px;
  position: relative;
  padding: 0px;
  box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
  text-align: center;
}

.content_list {
  top: 90px;
  border-radius: 10px 10px 10px 10px;
  background: #fff;
  padding: 25px;
  width: 1000px;
  min-height: 120px;
  height: auto;
  position: relative;
  box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
}

#formFooter {
  background-color: #f6f6f6;
  border-top: 1px solid #dce8f1;
  padding: 25px;
  text-align: center;
  -webkit-border-radius: 0 0 10px 10px;
  border-radius: 0 0 10px 10px;
}

._button{
  background-color: #F6F6F6;
  border: 0px;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.36);
  border-radius: 10px;
  padding: 5px 15px;
  margin: 13px 0px 0px 20px;
  font-weight: 700;
}

/* TABS */

h2.inactive {
  color: #cccccc;
}

h2.active {
  color: #0d0d0d;
  border-bottom: 2px solid #5fbae9;
}

/* FORM TYPOGRAPHY*/

button[type="submit"],input[type=button], input[type=submit], input[type=reset]  {
  background-color: #56baed;
  border: none;
  color: white;
  padding: 15px 80px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  text-transform: uppercase;
  font-size: 13px;
  -webkit-box-shadow: 0 10px 30px 0 rgba(95,186,233,0.4);
  box-shadow: 0 10px 30px 0 rgba(95,186,233,0.4);
  -webkit-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
  margin: 5px 20px 40px 20px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

button[type="submit"]:hover,input[type=button]:hover, input[type=submit]:hover, input[type=reset]:hover  {
  background-color: #39ace7;
}

button[type="submit"]:active ,input[type=button]:active, input[type=submit]:active, input[type=reset]:active  {
  -moz-transform: scale(0.95);
  -webkit-transform: scale(0.95);
  -o-transform: scale(0.95);
  -ms-transform: scale(0.95);
  transform: scale(0.95);
}

input[type=text] {
  background-color: #f6f6f6;
  border: none;
  color: #0d0d0d;
  padding: 15px 32px;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 5px;
  width: 85%;
  border: 2px solid #f6f6f6;
  transition: all 0.5s ease-in-out;
  border-radius: 5px 5px 5px 5px;
}

.sign input[type=text]{
  text-align: center;
}
.right_side_search input[type=text]{
  height: 15px;
}

input[type=text]:focus {
  background-color: #fff;
  border-bottom: 2px solid #5fbae9;
}

input[type=text]:placeholder {
  color: #cccccc;
}


/* ANIMATIONS */
/* Simple CSS3 underline Animation */
.underlineHover:after {
  display: block;
  left: 0;
  bottom: -10px;
  width: 0;
  height: 2px;
  background-color: #56baed;
  content: "";
  transition: width 0.2s;
}

.underlineHover:hover {
  color: #0d0d0d;
}

.underlineHover:hover:after{
  width: 100%;
}


/* OTHERS */

*:focus {
    outline: none;
}

#icon {
  width:60%;
}

* {
  box-sizing: border-box;
}

/* table */
.MuiTableCell-stickyHeader,
.MuiTableCell-body{
  text-align: center;
}