#root{
  display: flex;
    width: 100%;
  align-items: center;
  flex-direction: column;
  justify-content: center;
    background-color: #6EB9E8;
    display : flex;
    justify-content: center;
    align-items: center;
    min-height: 100%;
}
.home{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-color: #6EB9E8;
    display : flex;
    justify-content: center;
    align-items: center;
    min-height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
}
.home-white{
    margin: 40px 0px;
    background-color: #FFFFFF;
    box-shadow: 0px 15px 20px #00000048;
    border-radius: 26px;

    padding: 30px;
    width: 600px;
    align-content: center;
}
.signin-inputs{
    height: auto;
    align-content: center;
    align-items: center;
}
.signup-inputs{
    height: auto;
    align-content: center;
    align-items: center;
}
.signup-inputs input[type="password"],
.signin-inputs input[type="password"],
.signup-inputs input[type="text"],
.signin-inputs input[type="text"]{
    margin-left: auto;
    margin-right: auto;
    display: table;
    width: 90%;
}
.selected{
    border-bottom: 3px solid #6EB9E8;
}
.home-white__title{
    padding-top : 10px;
    margin: 0 auto;
    position: relative;
    display: table;
}
.signin__select,.signup__select{
    text-align: left;
    font: normal normal 800 30px/36px Apple SD Gothic Neo;
    letter-spacing: 0px;
    color: #707070;
    padding: 0px 10px;
    margin: 0px 25px;
}
.login__input-ID{
    height: 60px;
    transform: translate(0, 30px);
}
.login__input-PW{
    line-height: 30px;
    height: 60px;
    margin-top: 20px;
    transform: translate(0, 40px);
}
input::placeholder {
    text-align: center;
    font: normal normal 800 20px Apple SD Gothic Neo;
    letter-spacing: 0px;
    color: #A7A7A7;
}

.login-submit{
    text-align: center;
    font: normal normal 600 25px Apple SD Gothic Neo;
    letter-spacing: 0px;
    color: #FFFAFA;
    border : none;
    background: #6EB9E8 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 5px;
    width: 50%;
    height: 50px;
    margin-top: 53px;
    margin-left : auto;
    margin-right: auto;
    display: table;
}


.signup-input__title{
    text-align: left;
    font: normal normal 800 25px Apple SD Gothic Neo;
    letter-spacing: 0px;
    color: #A7A7A7;
    margin-left: 8%;
}
.signup__input1{
    border : none;
    width: 760px;
    height: 53px;
    background: #F6F6F6 0% 0% no-repeat padding-box;
    border-radius: 15px;
    margin-left : 68px;
    margin-bottom: 7px;
}
.select__male{
    padding : 8px 34px 15px 34px;
    border : none;
    background: #F6F6F6 0% 0% no-repeat padding-box;
    border-radius: 15px;
    text-align: center;
    font: normal normal 800 20px Apple SD Gothic Neo;
    line-height: 33px;
    letter-spacing: 0px;
    color: #A7A7A7;
    margin-bottom: 7px;
    margin-left : 4%;
    vertical-align: middle;
}
.select__female{
    padding : 8px 34px 15px 34px;
    border : none;
    background: #F6F6F6 0% 0% no-repeat padding-box;
    border-radius: 15px;
    text-align: center;
    font: normal normal 800 20px Apple SD Gothic Neo;
    line-height: 33px;
    letter-spacing: 0px;
    color: #A7A7A7;
    margin-left : 24px;
    margin-bottom: 7px;
    vertical-align: middle;
}

.signup__input2{
    display: flex;
    width: 760px;
    height: 53px;
}
.select__birth{
    height : 53px;
    padding-left: 21px;
    background: #F6F6F6 0% 0% no-repeat padding-box;
    border-radius: 15px;
    text-align: left;
    font: normal normal 800 20px Apple SD Gothic Neo;
    letter-spacing: 0px;
    color: #A7A7A7;
    border : none;
    margin-left: 4%;
    margin-bottom: 7px;
}
.phone-number .phone{
    float: left;
    line-height: 46px;
    margin: 0 0 0 0px;
}
.phone-number input[type="number"]{
    float: left;
    border : none;
    width: 100px;
    height: 46px;
    padding: 10px 15px;
    background: #F6F6F6 0% 0% no-repeat padding-box;
    border-radius: 15px;
    text-align: center;
    font: normal normal 800 20px Apple SD Gothic Neo;
    letter-spacing: 0px;
    color: #A7A7A7;
}
.phone {
    text-align: left;
    font: normal normal 800 30px/36px Apple SD Gothic Neo;
    letter-spacing: 0px;
    color: #A7A7A7;
}
.type__select{
    padding-top: 20px;
    clear: both;
    margin-left:auto;
    margin-right:auto;
    display: table;
}
.type-select1{
    clear: both;
    height: 50px;
    line-height: 50px;
    background-color: #F6F6F6;
    text-align: center;
    border-radius: 15px;
    border : none;
    font: normal normal 800 20px Apple SD Gothic Neo;
    line-height: 33px;
    color: #A7A7A7;
    padding : 10px 15px;
    width: 120px;
    float: left;
    margin-right: 20px;
}

.type-select2{
    margin-left: 150px;
    position: relative;
    height: 50px;
    line-height: 50px;
    background-color: #F6F6F6;
    text-align: center;
    border-radius: 15px;
    border : none;
    font: normal normal 800 20px Apple SD Gothic Neo;
    line-height: 33px;
    color: #A7A7A7;
    padding : 10px 15px;
    width: 120px;
}

.home a{
    all : unset;
}

.submit__button .a{
    width: 100%;
}
.home .signup-submit{
    text-align: center;
    font: normal normal 600 20px Apple SD Gothic Neo;
    line-height: 20px;
    letter-spacing: 0px;
    color: #FFFAFA;
    border : none;
    background: #6EB9E8 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 5px;
    width: 50%;
    height: 50px;
    margin-top: 40px;
    margin-left : auto;
    margin-right: auto;
    display: table;
}
.blue{
    background: #6EB9E8 0% 0% no-repeat padding-box;
    color: #FFFFFF;
    box-shadow: 0px 3px 6px #00000029;
}
.hidden{
    display : none;
}
