/*admin_main*/
.task_list{
    clear: both;
}
.content_list .taskName {
    font-size: 26px;
    color: black;
    font-weight: 650;
}
.content_list .applicant{
    font-size: 20px;
    font-weight: 600;
    color: #6EB9E8;
    float: right;
    transform: translate(0%, -150%);
}
.content_list .aboutTask{
    font-size: 18px;
    color: black;
    margin: 13px 0px 0px 5px;
}

/*admin_taskInfo*/
.task_howToPass, .originDataType {
    clear: both;
}
.originDataType .wrapper_title{
    float: left;
}
.originDataType .addDataType{
    float: right;
    color: #A7A7A7;
    font-weight: 600;
}
.task_statistics{
    clear: both;
}
.datatype_list{
    clear: both;
    padding-top: 10px;
}
.datatype_list .datatypeID{
    float: left;
    transform: translate(-35%, 90%);
}
.value_list li{
    text-align: center;
    border: 0.3px solid #707070;
    float: left;
    padding: 10px 20px;
    background-color: #F6F6F6;
}
.value_list li .originName{
    color :#6EB9E8;
    font-size: 14px;
    font-weight: 700;
}
.value_list li .type{
    color :#6EB9E8;
    font-size: 14px;
    font-weight: 700;
}
.originDataTypeRequest{
    clear: both;
    margin-top: 80px;
}
.originDataTypeRequest ul{
    transform: translate(0%, -25%);
}
#yes{color:#6EB9E8}
#no{color:#E86E77}

.applicantList{
    padding-top: 10px;
}
.applicantList .lightgray_wrapper{
    width : 500px;
}
.applicantList .lightgray_wrapper_inline_display{
    width : 500px;
    display:inline-block;
}

.applicantList .name{
    position: absolute;
    left: 150px;
    font-weight: 600;
}
.applicantList .score{
    position: absolute;
    left: 250px;
    font-weight: 600;
}
.applicants li{
    font-weight: 600;
}
.applicants li .sequenceNum{
    float:left;
    transform: translate(-30px, 100%);
}
.applicants li .personal_name{
    float: left;
    transform: translate(20%, 100%);
}
.applicants li .personal_score{
    float: left;
    transform: translate(390%, 100%);
}
.applicants #yes{
    margin-left: 170px;
}

.submit_taskInfo2 .taskStatistic{
    margin-top: 5px;
}
.taskStatistic .submitFiles,
.taskStatistic .passFiles,
.taskStatistic .passTuples{
    font-weight: 600;
    line-height: 150%;
}
.taskStatistic .passFiles{
    float : left;
}
.taskStatistic .passTuples{
    transform: translate(5%, 0%);
    margin-bottom: 10px;
}
.taskStatistic a{
    color: #56baed;
    font-weight: 500;
}

.task-participate{
    clear:both;
    display:inline-block;zoom:1;.display:inline;
    text-align: center;
    width: auto;
    font: normal normal 600 25px Apple SD Gothic Neo;
    letter-spacing: 0px;
    color: #FFFAFA;
    border : none;
    background: #6EB9E8 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 5px;
    height: 50px;
    margin-top: 53px;
    margin-left : auto;
    margin-right: auto;
}

/*alter Password*/
.adminAlterPassword .formContent{
    transform: translate(0%, 4%);
}
.adminAlterPassword .formContent{
    line-height: 500%;
    padding-left: 100px;
    font-weight: 700;
    color: #A7A7A7;
}

.adminAlterPassword .contentName{
    margin-left: 170px;
    color: #707070;
    font-size: 17px;
}
.adminAlterPassword .contentID{
    margin-left: 198px;
    color: #707070;
    font-size: 17px;
}
.adminAlterPassword .newPassword{
    display: contents;
}

.adminAlterPassword input[type="text"]{
    position: relative;
    float: right;
    width : 500px;
    margin-top: 12px;
    margin-right: 90px;
}
.adminAlterPassword input[type="submit"]{
    margin: 40px auto 0 auto;
    transform: translate(296px,0);
    font-size: 20px;
    font-weight: 600;
}

/*task add*/
.taskAdd .task_info input[type="text"],
.taskAdd .task_howToPass input[type="text"]{
    width : 820px;
    border-radius: 20px;
    padding: 20px 30px;
    margin: 5px;
}
.taskAdd .task_name .wrapper_title{
    float: left;
    line-height: 60px;
}
.taskAdd .task_name input[type="text"]{
    width : 730px;
    height: 30px;
    border-radius: 20px;
    padding: 10px 20px;
    margin: 0px 0px 0px 20px;
}
.taskAdd .task_info{
    margin-top: 20px;
}
.taskAdd .minUpload .wrapper_title{
    margin-top: 20px;
    float: left;
}


.submit_submitFile .dataTable_name{
    margin-top: 20px;
}

.submit_submitFile .dataTable_name .wrapper_title{
    float: left;
    line-height: 40px;
}

.submit_submitFile .dataTable_name input[type="date"]{
    width : 190px;
    height: 40px;
    border-radius: 10px;
    padding: 10px 20px;
    margin: 0px 0px 0px 20px;
    font-size: 16px;
    float: left;
}
.submit_submitFile .wave{
    float: left;
    line-height: 40px;
    font-size: 20px;
    margin-left: 20px;
}

.originDataType_add{
    padding-top: 50px;
}
.originDataType_add .wrapper_title{
    float: left;
}
.originDataType_add .addDataType{
    float: right;
    color: #A7A7A7;
    font-weight: 600;
}

/*table schema add*/
.tableSchema_add input[type="text"]{
    width: 400px;
}
.tableSchema_add button[type="submit"]{
    width: 100px;
    text-align: center;
    padding : 10px 20px;
    margin: 0px 20px;
}
/*user list*/
.userTable{
    position: relative;
    top:140px;
    width: 1000px;
}
.userTable .MTableToolbar-root-5{
    min-height: 0px;
    height: 0px;
}

.userList input[type="text"]{
    all: unset;
    padding: 10px 10px;
}
.userList .dropdown{
    transform: translate(-50%,28%);
    border-radius: 20px;
}
.userList a{
    color: #56baed;
    font-weight: 500;
}

/*presenter detail*/
.presenterDetail .taskStatistic{
    margin-top: 0px;
}
.presenterDetail .passFiles{
    margin-bottom: 20px;
}

/*estimator detail*/
.estimatorDetail .taskStatistic{
    margin-top: 0px;
}
.estimatorDetail .passFiles{
    margin-bottom: 20px;
}

.submit__button_s {
    clear: both;
    margin : 0px auto;
    display: table;
}

.signup-submit_s{
    text-align: center;
    font: normal normal 600 20px Apple SD Gothic Neo;
    letter-spacing: 0px;
    color: #FFFAFA;
    border : none;
    background: #6EB9E8 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 5px;
    width: 120px;
    height: 50px;
    margin-top: 20px;
    margin-left : auto;
    margin-right: auto;
    display: table;
    float: right;
}
#leftButton{
    margin-right: 80px;
}

.changeInfo_main selected{
    text-align: left;
    font: normal normal 800 30px/36px Apple SD Gothic Neo;
    letter-spacing: 0px;
    color: #707070;
    padding: 0px 10px;
    margin: 0px 25px;
}


.submitTaskList input[type="text"]{
    all: unset;
    padding: 10px 10px;
}
.submitTaskList .dropdown{
    transform: translate(-50%,28%);
    border-radius: 20px;
}
.submitTaskList a{
    color: #56baed;
    font-weight: 500;
}

.submitTaskList .userTable{
    position: relative;
    top:140px;
    width: 1000px;
}
.submit_taskInfo .right_side_small{
    color : #F6F6F6;
}

/*SubmitChangeInfo*/
.Submit_changeInfo{
    margin-top: 30px;
}
.Submit_changeInfo .wrapper .home-white .signup__select{
    margin: 15px 130px;
}

/*Submit task info2*/
.submit_taskInfo .originDataType span,
.submit_taskInfo2 .originDataType span{
    float : left;
    line-height: 58px;
    margin-right: 10px;
}
.submit_taskInfo .TaskSchema .value_list,
.submit_taskInfo2 .TaskSchema .value_list{
    margin-bottom: 100px;
}
.submit_taskInfo2 .originDataType{
    margin-bottom: 80px;
}
.submit_taskInfo .lightgray_wrapper,
.submit_taskInfo2 .lightgray_wrapper{
    margin-bottom: 15px;
}
.TaskParticipate{
    clear: both;
    padding-top: 40px;
}
.TaskParticipate button{
    width : 200px;
    display: block;
    margin: 0px auto;
    font: normal normal 600 20px Apple SD Gothic Neo;
}
.next{
    margin: 0px auto;
    display: table;
}
.next button[type="submit"]{
    margin-top : 25px;
    margin-bottom: 0px;
    display: block;
    clear: both;
    font-size : 20px;
}
.next button[type="submit"]:disabled{
    margin-top: 25px;
    margin-bottom: 0px;
    display: block;
    clear: both;
    font-size : 20px;
    background-color: #A7A7A7;
    box-shadow: none;
}
.submit_taskInfo2 .wordButton{
    color: #56baed;
    font-weight: 500;
    border: none;
    background-color: white;
}

/*submit_submitFile*/
.submit_submitFile .formContent .dataTableSchema {
    margin-top: 25px;
}
.submit_submitFile .formContent .originDataType {
    padding-top: 25px;
}

.submit_submitFile .fileSubmit .wrapper_title{
    padding-top: 30px;
    float: left;
    line-height: 18px;
}
.submit_submitFile .fileSubmit input[type="file"]{
    width: 500px;
    margin-left: 20px;
    margin-top: 12px;
}

.custom-file-input::-webkit-file-upload-button {
  visibility: hidden;
}
.custom-file-input::before {
  content: 'csv 파일 선택하기';
  display: inline-block;
  background-color: #56baed;
  border: none;
  color: white;
  padding: 10px 15px;
    margin-top: 10px;
  text-align: center;
  text-decoration: none;
  font-size: 13px;
  border-radius: 3px;
  outline: none;
  white-space: nowrap;
  -webkit-user-select: none;
  cursor: pointer;
  font-weight: 700;
}
.custom-file-input:hover::before {
  border-color: black;
}
.custom-file-input:active::before {
  background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
}