/*admin_main*/
.task_list{
    clear: both;
}
.content_list .taskName {
    font-size: 26px;
    color: black;
    font-weight: 650;
}
.content_list .applicant{
    font-size: 20px;
    font-weight: 600;
    color: #6EB9E8;
    float: right;
    transform: translate(0%, -150%);
}
.content_list .aboutTask{
    font-size: 18px;
    color: black;
    margin: 13px 0px 0px 5px;
}

/*admin_taskInfo*/
.task_howToPass, .originDataType {
    margin-top: 20px;
    clear: both;
}
.originDataType .wrapper_title{
    float: left;
}
.originDataType .addDataType{
    float: right;
    color: #A7A7A7;
    font-weight: 600;
}
.task_statistics{
    clear: both;
}
.datatype_list{
    clear: both;
    padding-top: 10px;
}
.datatype_list .datatypeID{
    float: left;
    transform: translate(-35%, 90%);
}
.value_list li{
    text-align: center;
    border: 0.3px solid #707070;
    float: left;
    padding: 10px 20px;
    background-color: #F6F6F6;
}
.value_list li .originName{
    color :#6EB9E8;
    font-size: 14px;
    font-weight: 700;
}
.originDataTypeRequest{
    clear: both;
    margin-top: 80px;
}
.originDataTypeRequest ul{
    transform: translate(0%, -25%);
}
#yes{color:#6EB9E8}
#no{color:#E86E77}

.applicantList{
    padding-top: 10px;
}
.applicantList .lightgray_wrapper{
    width : 500px;
}
.applicantList .name{
    position: absolute;
    left: 150px;
    font-weight: 600;
}
.applicantList .score{
    position: absolute;
    left: 250px;
    font-weight: 600;
}
.applicants li{
    font-weight: 600;
}
.applicants li .sequenceNum{
    float:left;
    transform: translate(-30px, 100%);
}
.applicants li .personal_name{
    float: left;
    transform: translate(20%, 100%);
}
.applicants li .personal_score{
    float: left;
    transform: translate(390%, 100%);
}
.applicants #yes{
    margin-left: 170px;
}

.taskStatistic{
    margin-top: 20px;
}
.taskStatistic .submitFiles,
.taskStatistic .passFiles,
.taskStatistic .passTuples{
    font-weight: 600;
    line-height: 150%;
}
.taskStatistic .passFiles{
    float : left;
}
.taskStatistic .passTuples{
    transform: translate(5%, 0%);
    margin-bottom: 10px;
}
.taskStatistic a{
    color: #56baed;
    font-weight: 500;
}

/*alter Password*/
.adminAlterPassword .formContent{
    transform: translate(0%, 4%);
}
.adminAlterPassword .formContent{
    line-height: 500%;
    padding-left: 100px;
    font-weight: 700;
    color: #A7A7A7;
}
.adminAlterPassword .contentName{
    margin-left: 170px;
    color: #707070;
    font-size: 17px;
}
.adminAlterPassword .contentID{
    margin-left: 198px;
    color: #707070;
    font-size: 17px;
}
.adminAlterPassword .newPassword{
    display: contents;
}

.adminAlterPassword input[type="text"]{
    position: relative;
    float: right;
    width : 500px;
    margin-top: 12px;
    margin-right: 90px;
}
.adminAlterPassword input[type="submit"]{
    margin: 40px auto 0 auto;
    transform: translate(296px,0);
    font-size: 20px;
    font-weight: 600;
}

/*task add*/
.taskAdd .task_info input[type="text"],
.taskAdd .task_howToPass input[type="text"]{
    width : 820px;
    border-radius: 20px;
    padding: 20px 30px;
    margin: 5px;
}
.taskAdd .task_name .wrapper_title{
    float: left;
    line-height: 60px;
}
.taskAdd .task_name input[type="text"]{
    width : 730px;
    height: 30px;
    border-radius: 20px;
    padding: 10px 20px;
    margin: 0px 0px 0px 20px;
}
.taskAdd .task_info{
    margin-top: 20px;
}
.taskAdd .minUpload .wrapper_title{
    margin-top: 20px;
    float: left;
}
.taskAdd .minUpload .dropdown{
    transform: translate(2%,10%);
}
.taskAdd .dataTable_name{
    margin-top: 20px;
}

.taskAdd .dataTable_name .wrapper_title{
    float: left;
    line-height: 60px;
}
.taskAdd .dataTable_name input[type="text"]{
    width : 620px;
    height: 30px;
    border-radius: 20px;
    padding: 10px 20px;
    margin: 0px 0px 0px 20px;
}

.taskAdd .dataTableSchema {
    margin-top: 20px;
    clear: both;
}
.taskAdd .dataTableSchema .wrapper_title{
    float: left;
}
.taskAdd .dataTableSchema .addDataType{
    float: right;
    color: #A7A7A7;
    font-weight: 600;
}
.taskAdd .dataTableSchema_list{
    clear: both;
    padding: 10px 0px 0px 20px;
}
.taskAdd .dataTableSchema_list li{
    font-weight: 500;
    text-align: center;
    border: 0.3px solid #707070;
    float: left;
    padding: 10px 20px;
    background-color: #F6F6F6;
}
.originDataType_add{
    padding-top: 50px;
}
.originDataType_add .wrapper_title{
    float: left;
}
.originDataType_add .addDataType{
    float: right;
    color: #A7A7A7;
    font-weight: 600;
}
.taskAdd input[type="submit"]{
    clear:both;
    display: inherit;
    margin: 100px auto 0 auto;
    font-size: 20px;
    font-weight: 600;
}

/*table schema add*/
.tableSchema_add input[type="text"]{
    width: 400px;
}
.tableSchema_add button[type="submit"]{
    width: 100px;
    text-align: center;
    padding : 10px 20px;
    margin: 0px 20px;
}
/*user list*/
.userList button[type="submit"]{
    margin-bottom: 32px;
    border: none;
    color: white;
    padding: 0;
    font-size: 13px;
    box-shadow: 0;
    border-radius: 0;
    transition: all 0.3s ease-in-out;
}
.userList .dropdown{
    transform: translate(-50%,28%);
    border-radius: 20px;
}
.userList a{
    color: #56baed;
    font-weight: 500;
}

/*presenter detail*/
.presenterDetail .taskStatistic{
    margin-top: 0px;
}
.presenterDetail .passFiles{
    margin-bottom: 20px;
}

/*estimator detail*/
.estimatorDetail .taskStatistic{
    margin-top: 0px;
}
.estimatorDetail .passFiles{
    margin-bottom: 20px;
}