/*admin_main*/
.task_list{
    clear: both;
}
.content_list .taskName {
    font-size: 26px;
    color: black;
    font-weight: 650;
}
.content_list .applicant{
    font-size: 20px;
    font-weight: 600;
    color: #6EB9E8;
    float: right;
    transform: translate(0%, -150%);
}
.content_list .aboutTask{
    font-size: 18px;
    color: black;
    margin: 13px 0px 0px 5px;
}

/*admin_taskInfo*/
.task_howToPass, .Submission_Period, .originDataType {
    padding-top: 20px;
    clear: both;
}
.originDataType .wrapper_title{
    float: left;
}
.originDataType .addDataType{
    float: right;
    color: #A7A7A7;
    font-weight: 600;
}
.task_statistics{
    clear: both;
}
.datatype_list{
    clear: both;
    margin-top: 10px;
    padding-top: 10px;
}
.dataVertical{
    clear: both;
    margin-bottom : 60px;
    padding-bottom: 20px;

}
.admin_datatype_add .dataVertical{
    margin-bottom : 60px;
    padding-bottom: 0px;
}
.datatype_list .datatypeID{
    float: left;
    transform: translate(-35%, 90%);
}
.value_list li{
    text-align: center;
    border: 0.3px solid #707070;
    float: left;
    padding: 10px 20px;
    background-color: #F6F6F6;
}
.value_list li .originName{
    color :#6EB9E8;
    font-size: 14px;
    font-weight: 700;
}
.presenters{
    clear: both;
    padding-top: 20px;
}
#yes{color:#6EB9E8}
#no{color:#E86E77}
.YesNo{
    float: right;
    line-height: 26px;
}

.applicantList{
    padding-top: 10px;
}
.presenters .lightgray_wrapper{
    width: 305px;
    padding-bottom: 30px;
}
.taskInfo .applicantList .lightgray_wrapper{
    width : 450px;
}
.presenters .name,
.applicantList .name{
    position: absolute;
    left: 150px;
    font-weight: 600;
}
.presenters .score,
.applicantList .score{
    position: absolute;
    left: 250px;
    font-weight: 600;
    padding : 0px;
}

.applicantList .applicants{
    margin-bottom: 50px;
}
.presenters .applicants li{
    margin-top: 15px;
    padding-bottom: 15px;
}
.presenters .applicants li,
.applicantList .applicants li{
    font-weight: 600;
    clear: both;
}
.presenters .applicants li .sequenceNum,
.applicantList .applicants li .sequenceNum{
    clear: both;
    float:left;
    text-align: right;
    min-width : 40px;
    display: inline-block;
    transform: translate(-50px, 18px);
}
.presenters .applicants li .personal_name,
.applicantList .applicants li .personal_name{
    float: left;
    transform: translate(-20px, 18px);
}
.taskInfo .presenters .applicants li .personal_score{
    float: right;
    transform: translate(-27px, 18px);
}
.taskInfo .applicantList .applicants li .personal_score{
    float: right;
    transform: translate(-176px, 18px);
}
.taskInfo .applicantList .applicants .YesNo{
    transform: translate(40px, 0px);
}
.taskStatistic{
    padding-bottom: 20px;
}
.taskStatistic .wrapper_title{
    margin-bottom: 10px;
}
.taskStatistic .submitFiles,
.taskStatistic .passFiles,
.taskStatistic .passTuples{
    font-weight: 600;
    line-height: 150%;
}
.taskStatistic .passFiles{
    float : left;
}
.taskStatistic .passTuples{
    transform: translate(5%, 0%);
    margin-bottom: 10px;
}

.taskStatistic .downloadCSV{
    float: right;
    transform: translate(0px, -30px);
}
.taskStatistic .downloadCSV button{
    background-color: #6EB9E8;
    border: 0px;
    border-radius: 2px;
    padding : 5px 10px;
    color : white;
}
.taskStatistic a{
    color: #56baed;
    font-weight: 500;
}
/*file detail*/
.fileDetail .downloadCSV{
    clear: both;
    transform: translate(0px, 90px);
}
.fileDetail .downloadCSV button{
    background-color: white;
    border: 0px;
    border-radius: 2px;
    padding : 5px 10px;
    color : #6EB9E8;
    font-weight: 800;
}
.fileDetail .Loading {
    position: fixed;
    margin-top: 700px;
    font-size: 20px;
    font-weight: 600;
    color : white;
    text-align: center;
    line-height: 30px;
}


/*alter Password*/
.adminAlterPassword .formContent{
    transform: translate(0%, 4%);
}
.adminAlterPassword .formContent{
    line-height: 500%;
    padding-left: 100px;
    font-weight: 700;
    color: #A7A7A7;
}
.adminAlterPassword .contentName{
    margin-left: 170px;
    color: #707070;
    font-size: 17px;
}
.adminAlterPassword .contentID{
    margin-left: 198px;
    color: #707070;
    font-size: 17px;
}
.adminAlterPassword .newPassword{
    display: contents;
}
.adminAlterPassword input[type=text]::placeholder {
    font-size: 16px;
    text-align: left;
}
.adminAlterPassword input[type="text"]{
    position: relative;
    float: right;
    width : 500px;
    margin-top: 12px;
    margin-right: 90px;
}
.adminAlterPassword .saveButton{
    margin : 0 auto;
    transform: translate(-45px,0px);
}
.adminAlterPassword button[type="submit"]{
    margin: 20px auto 0 auto;
    font-size: 20px;
    font-weight: 600;
    display: table;
}

/*task add*/
.taskAdd .Description{
    border: 2px solid #6EB9E8;
    border-radius: 10px;
    width: 700px;
    margin: 20px auto;
    padding: 20px;
}
.taskAdd .Description .descriptionTitle{
    text-align: center;
    font-size: 18px;
    font-weight: 650;
    text-decoration: underline #6EB9E8;
    text-underline-position: under;
}
.taskAdd .Description .descriptionBody{
    font-size: 15px;
    font-weight: 500;
    line-height: 25px;
    margin: 25px 50px 0px 50px ;
}
.taskAdd .Description .bodyTitle{
    font-size: 16px;
    font-weight: 550;
    line-height: 30px;
}
.taskAdd input[type=text]::placeholder {
    font-size: 16px;
    text-align: left;
}
.taskAdd .task_info input[type="text"],
.taskAdd .task_howToPass input[type="text"]{
    width : 820px;
    border-radius: 20px;
    padding: 20px 30px;
    margin: 5px;
}
.taskAdd .task_name .wrapper_title{
    float: left;
    line-height: 60px;
}
.taskAdd .task_name input[type="text"]{
    width : 730px;
    height: 30px;
    border-radius: 20px;
    padding: 10px 20px;
    margin: 0px 0px 0px 20px;
}
.taskAdd .task_info{
    margin-top: 20px;
}
.taskAdd .minUpload .wrapper_title{
    margin-top: 20px;
    float: left;
}
.taskAdd .minUpload .dropdown{
    transform: translate(2%,10%);
}
.taskAdd .dataTable_name{
    margin-top: 20px;
}

.taskAdd .dataTable_name .wrapper_title{
    float: left;
    line-height: 60px;
}
.taskAdd .dataTable_name input[type="text"]{
    width : 620px;
    height: 30px;
    border-radius: 20px;
    padding: 10px 20px;
    margin: 0px 0px 0px 20px;
}

.taskAdd .dataTableSchema {
    margin-top: 20px;
    clear: both;
}
.taskAdd .dataTableSchema .wrapper_title{
    float: left;
    padding-top: 20px;
}
.taskAdd .dataTableSchema .addDataType{
    float: right;
    color: #A7A7A7;
    font-weight: 600;
}
.editDatatypeList, .admin_datatype_add{
    clear : both;
    border-radius: 20px;
    padding: 10px 20px;
    transform: translate(0px, 10px);
    background-color: #fcfcfc;
}
.taskAdd .dataTableSchema_list,
.taskInfo .dataTableSchema_list{
    clear: both;
    padding: 0px 0px 10px 20px;
}
.taskAdd .dataTableSchema_list .valueType,
.taskInfo .dataTableSchema_list .valueType {
    color: #6EB9E8;
    font-size: 14px;
    font-weight: 700;
}
.taskAdd .dataTableSchema_list li,
.taskInfo .dataTableSchema_list li{
    font-weight: 500;
    text-align: center;
    border: 0.3px solid #707070;
    float: left;
    padding: 10px 20px;
    background-color: #F6F6F6;
}
.taskAdd .dataTableSchema_list li{
    margin-top: 10px;
}
.formContent .dataTableSchema{
    margin-top: 20px;
}
.formContent .originDataType_add{
    padding-top: 20px;
}
.originDataType_add .wrapper_title{
    float: left;
    margin-top : 20px;
}
.addDataTypeButton{
    float: right;
    color: #A7A7A7;
    font-weight: 600;
    background-color: white;
    border: none;
    padding-top: 20px;
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    width : auto;
}
.admin_datatype_add button[type="submit"]{
    width : auto;
    padding : 10px 20px;
    font-weight: 650;
    margin-top: 26px;
    font-size: 16px;
    box-shadow: 0 3px 15px 0 rgba(95,186,233,0.2);
}
.taskAdd input[type="submit"]{
    clear:both;
    display: inherit;
    margin: 100px auto 0 auto;
    font-size: 20px;
    font-weight: 600;
}

/*table schema add*/
.tableSchema_add input[type="text"]{
    width: 400px;
}
.tableSchema_add button[type="submit"]{
    width: 100px;
    text-align: center;
    padding : 10px 20px;
    margin: 0px 20px;
}
/*user list*/
.userTable{
    position: relative;
    top:140px;
    width: 1000px;
}
.userTable .MTableToolbar-root-5{
    min-height: 0px;
    height: 0px;
}
.admin input[type=text]::placeholder {
    font-size: 16px;
    text-align: left;
}

.userList input[type="text"]{
    all: unset;
    padding: 10px 10px;
}
.userList .dropdown{
    transform: translate(-50%,28%);
    border-radius: 20px;
}
.userList a{
    color: #56baed;
    font-weight: 500;
}

/*presenter detail*/
.presenterDetail .taskStatistic{
    margin-top: 0px;
}
.presenterDetail .passFiles{
    margin-bottom: 20px;
}

/*estimator detail*/
.estimatorDetail .taskStatistic{
    margin-top: 0px;
}
.estimatorDetail .passFiles{
    margin-bottom: 20px;
}

/*admin datatype add*/
.admin_datatype_add .valueList{
    clear: both;
    margin: 10px;
    padding-top: 5px;
}
.admin_datatype_add .valueList button{
    background-color: white;
    border-radius: 0px;
    border: 0.3px solid #707070;
    font-weight: 500;
    text-align: center;
    float: left;
    padding: 10px 20px;
}
.taskInfo .admin_datatype_add .datatypeValueName{
    margin-top: 14px;
    width : 380px;
    float: left;
}
.taskAdd .admin_datatype_add .datatypeValueName{
    margin-top: 14px;
    width : 380px;
}
.taskAdd .datatypeName .typeNameWord,
.taskInfo .datatypeName .typeNameWord{
    float: left;
    transform: translate(0px, 20px);
}

.taskAdd .datatypeName input[type="text"],
.taskInfo .datatypeName input[type="text"]{
    width : 380px;
    float: right;
    transform: translate(10px, 0px);
}
.admin_datatype_add .datatypeInput{
    clear: both;
}
.admin_datatype_add .small_lightgray_wrapper{
    margin-top: 20px;
    float: left;
    height: 51px;
}
.taskInfo .admin_datatype_add .short{
    width : 100px;
    padding : 10px 20px;
    font-weight: 650;
    margin-top: 26px;
    background-color: #56baed;
    box-shadow: 0 3px 15px 0 rgba(95,186,233,0.2);
}
.taskAdd .admin_datatype_add .short{
    width : 100px;
    padding : 10px 20px;
    font-weight: 650;
    margin-top: 30px;
    background-color: #56baed;
    transform: translate(555px, -80px);
    box-shadow: 0 3px 15px 0 rgba(95,186,233,0.2);
}
.taskInfo .admin_datatype_add .long,
.taskAdd .admin_datatype_add .long{
    width : 200px;
    height: 50px;
    padding : 10px 20px;
    font-size: 16px;
    font-weight: 650;
    transform: translate(90px, -20px);

}
.taskAdd .admin_datatype_add .long{
    clear: both;
}

.admin_datatype_add .datatypeList li{
    padding : 13px 10px;
}

.admin_datatype_add .datatypeList .dataName{
    float: left;
    margin-left: 20px;
    font-size: 20px;
    font-weight: 600;
    color:#707070;
}
.admin_datatype_add .datatypeList .dataType{
    float: left;
    color: #6EB9E8;
    transform: translate(30px, 0);
    font-size: 18px;
    font-weight: 650;
}
.admin_datatype_add .datatype_list .deleteButton{
    border: 0px;
    background-color: white;
    transform: translate(10px, 18px);
    color: #E86E77;
    padding: 0px;
    font-size: 16px;
    font-weight: 650;
}
.admin_datatype_add .datatypeList .deleteButton{
    border: 0px;
    background-color: white;
    color: #E86E77;
    transform: translate(50px, -3px);
    padding: 0px;
    font-size: 16px;
    font-weight: 650;
}

/*table schema add*/

.admin_tableSchema_add .datatypeInput{
    clear: both;
    padding-top: 10px;
}
.taskAdd .tableValueName input[type="text"]{
    margin-top: 10px;
    margin-left : 25px;
    width : 260px;
    float : left;
}
.admin_tableSchema_add .dropdown{
    float: left;
    margin : 20px 30px 0px 40px;
}

.admin_tableSchema_add .small_lightgray_wrapper{
    margin-top: 20px;
    float: left;
    height: 51px;
}

.admin_tableSchema_add .datatypeName{
    margin-top: 14px;
    width : 380px;
    float: left;
}

.taskAdd button[type="submit"]{
    width : 100px;
    padding : 10px 20px;
    font-weight: 650;
    margin-top: 13px;
    float: left;
    transform: translate(580px, -80px);
}
.datatypeList .decimalList{
    list-style: decimal;
    /*transform: translate(30px, 0px);*/
    font-size: 18px;
    font-weight: 600;
    /*color:#707070;*/
}

.decimalDatatypeList {
    margin-left: 90px;
}

.taskAdd form.input1{
    width: 860px;
    height: 76px;
}
.taskInfo .datatypeList{
    transform: translate(0px, -30px);
}

.datatypeList li{
    padding : 10px;
}

.datatypeList .dataName{
    float: left;
    margin-left: 20px;
    font-size: 18px;
    font-weight: 600;
    /*color:#707070;*/
}
.datatypeList .dataType{
    float: left;
    color: #6EB9E8;
    transform: translate(30px, 0);
    font-size: 16px;
    font-weight: 650;
}
.datatypeList .deleteButton{
    border: 0px;
    background-color: white;
    color: #E86E77;
    transform: translate(50px, -3px);
    padding: 0px;
    font-size: 14px;
    font-weight: 650;
}
.admin_tableSchema_add .wrapper_title,
.admin_tableSchema_add .wrapper_title a{
  font-size: 20px;
  font-weight: 800;
  clear: both;
    color: #707070;
}
.admin_tableSchema_add .wrapper_title{
    margin-left: 75px;
}
.admin_tableSchema_add .wrapper_title a{
    margin-left: 207px;
}
.admin_tableSchema_add .notice{
    color:#E86E77;
    font-size: 13px;
    font-weight: 780;
    transform: translate(240px,0px);
}
.notice1{
    color:#E86E77;
    font-size: 13px;
    font-weight: 780;
    transform: translate(175px,0px);
}
.notice2{
    color:#E86E77;
    font-size: 13px;
    font-weight: 780;
    transform: translate(30px,0px);
    margin-top: 4px;
}

.notice3{
    clear: both;
    color:#E86E77;
    font-size: 13px;
    font-weight: 780;
    transform: translate(175px,-25px);
}
.notice4{
    clear: both;
    color:#E86E77;
    font-size: 13px;
    font-weight: 780;
    transform: translate(170px,0px);
}